html{
	height: 100%;
	background:linear-gradient(to bottom, #e66125 0%, #000000 100%);
}
body{
	position: relative;
	min-height: 95%;
	margin: 0;
	padding: 0;
	text-align: center;
}
h2{
	font-size: 40px;
	color: white;
	border : 2px solid white;
	width: 99.80%;
}
p{
	color: #e0876a;
	font-size: 17px;
}
#fleche{
	margin-right: 95%;
}
#description{
	font-size: 25px;
	font-style: italic;
	color: white;
}
.description{
	display: inline-block;
}
h4{
	font-size: 20px;
	font-style: bold;
	color: #f4a688;
}
footer{
	position: absolute;
	border: 2px solid #e0876a;
	bottom: 0; 
	left: 0; 
	right: 0;
}
@media screen and (max-width: 1500px){
	.description{
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 1024px){
	.description{
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 800px){
	.description{
		margin-bottom: 20%;
	}
}
@media screen and (max-width: 500px){
	.description{
		margin-bottom: 45%;
	}
}