{
	box-sizing: border-box;
}


html{
	height:100%;
}
body{

background-color: black;
background-image: url(image2.jpg);
background-size: cover;
text-align: center;
position: relative;
min-height: 95%;
padding: 0%;
margin:0%;
}


div#tab1{
	margin: 30px;
	padding: 5px;
	background-color: black;
	color: #e0876a;
	border:3px solid #e0876a;
	border-radius: 10px; 
	width: 100%;
	/*font-size: 40px;*/
	
	
}

@media screen and (max-width: 1024px){

	#tab1 h1{

	font-size: 100%;
}
}


a{
	text-decoration: none;
	color: #e0876a;
	background-color:black;
}
.livres{
	border: 3px  solid #e0876a;
	border-radius: 15px;
	width: 25%;
	text-align: center;
	margin-left: 38%;
	margin-top: 15%;
	background-color:black;
}



footer{
	position: absolute;
	text-align: center;
	bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e0876a ;
    border-radius: 10px;
    color:#e0876a;
    background-color:black;

}