
html{
	height:100%;
}
body{

background-color: black;
background-image: url(image2.jpg);
background-size: cover;
text-align: center;
position: relative;
min-height: 95%;

}


div#tab1{
	margin-top:  30px;
	background-color: black;
	color: #e0876a;
	border:3px solid #e0876a;
	border-radius: 10px; 
	width: 100%;
	font-size: 22px;
	
}

#text1{
	color: #e0876a;
	background-color:black;
	border: 3px  solid #e0876a;
	border-radius: 15px;
	width: 32%;
	margin-left: 38%;
	margin-top: 15%;
	font-size: 18px;
}

a{
	text-decoration: none;
	color: #e0876a;
	background-color:black;
}
.livres{
	border: 3px  solid #e0876a;
	border-radius: 15px;
	width: 32%;
	text-align: center;
	margin-left: 38%;
	background-color:black;
	font-size: 18px;
}



footer{
	position: absolute;
	text-align: center;
	bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e0876a ;
    border-radius: 10px;
    color:#e0876a;
    background-color:black;

}

@media screen and (max-width: 500px){
	div#tab1{
		width: 100%;
		font-size: 17px;
	}
	.livres{
		margin-bottom: 55%;
		width: 44%;
	}

	#text1{
		width: 44%;
	}
}