body
{
	margin: 0;
	padding: 0;
	background-color: #696273;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}
p
{
	margin: 0;
	padding: 0;
}

header
{
	height: 110px;
	background-color: #CED9E4;
	color: #d90b37;
	box-shadow: 0px 0px 10px #1A1A1A;
	box-sizing: border-box;
	display: flex;
}
h1
{
	text-align: center;
	margin: 0;
	padding: 0;
	align-self: center;
	margin-left: 25%;
}
#retour
{
	width: 50px;
	height: 50px;
	align-self: flex-end;
	margin-left: 10%;
}
#retour #img_retour
{
	width: 100%;
}
#conteneur
{
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: justify;
}
#resultat
{
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 3.5%;
	width: 46%;
	height: 700px;
	margin-right: 2%;
	margin-left: 2%;
	flex-wrap: wrap;
	overflow: auto;
	background-color: #CED9E4;
	box-shadow: 0px 0px 10px black;
}
#resultat .unArticle
{
	width: 20%;
	height: 430px;
	margin: 0;
	padding: 0;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #423834;
	text-align: justify;
	padding: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px black;
	color: white;
}
label
{
	color: gray;
}
.lien
{
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: white;
}
.lien:hover
{
	font-size: 24px;
}
#conteneurMap 
{
	margin: 0;
	padding: 0;
	background-color: #C1BEB4;
	width: 46%;
	margin-top: 3.5%;
	margin-right: 2%;
	margin-left: 2%;
	height: 700px;
	overflow: hidden;
	box-shadow: 0px 0px 10px black;
}
#map
{
	width: 100%;
	height: 700px;
}
@media screen and (max-width: 1600px) {
	#resultat
	{
		height: 600px;
		margin-bottom: 15px;
	}
	#conteneurMap 
	{
		height: 600px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 1500px) {
	#resultat
	{
		height: 500px;
		margin-bottom: 15px;
	}
	#resultat .unArticle
	{
		width: 45%;
	}
	#conteneurMap 
	{
		height: 500px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 920px) {/* largeur écran ordi portable */
	#resultat
	{
		height: 400px;
		margin-bottom: 15px;
	}
	#resultat .unArticle
	{
		width: 45%;
	}
	#conteneurMap 
	{
		height: 400px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 414px) { 			/* largeur mobile */
  
	{
		font-size: 14px;
	}
	#conteneur
	{
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#resultat
	{
		width: 90%;
		height: 400px;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		justify-content: center;
	}
	#resultat .unArticle
	{
		width: 45%;
	}
	#conteneurMap 
	{
		width: 90%;
		margin: 0;
		padding: 0;
		margin-top: 10px;
		height: 300px;
	}
	#resultat .unArticle
	{
		width: 90%;
		padding-top: 15px;
		padding-left: 20px;
	}
}