body{


background: url(image2.jpg) fixed no-repeat right bottom;
background-repeat: no-repeat;
text-align: left;
position: relative;
background-size: cover;
padding-left: 50px;

}

div#tab1{
	margin-top:  50px;
	color: white;
	width: 55%;
	font-size: 22px;
	text-shadow: 2px 2px 10px black;
	background-color: #8B2B2F;
	padding: 5px;
	border-radius: 3px;
	border: 2px solid black;
}

#trouverLivre {
	text-decoration: none;
	color: white;
	padding-top: 10px;
	font-size:25px;

}

#tab2{

	margin-top:300px;
	border: 3px  solid black;
	border-radius: 10px;
	width: 200px;
	font-size: 18px;
	height: 50px;
	background-color: #88292D;
	color:white;
	padding: 50px;

}

footer p{

	color:white;
	margin-top: 200px;

}

footer a{

	color:white;
	text-decoration:none;
}
@media screen and (max-width: 414px) { 			/* largeur mobile */
  
	body {
		padding-left: 10px;
		padding-right: 10px;
	}

	#tab2 {
		width: 60%;
		font-size: 15px;
		text-align: center;
	}
}


















}



footer{
	position: absolute;
	text-align: center;
	bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e0876a ;
    border-radius: 10px;
    color:#e0876a;
    background-color:black;

}

@media screen and (max-width: 500px){
	div#tab1{
		width: 100%;
		font-size: 17px;
	}
	.livres{
		margin-bottom: 55%;
		width: 44%;
	}

	#text1{
		width: 44%;
	}
}