	body {
		background-color: #696273;
		margin: 0px;
		padding: 0px;
		box-shadow: 0px 0px 10px black;
		padding: 0;
	}

	header {
		background-color: #CED9E4;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		font-size: 20px;
		font-family: 'Roboto Slab', serif;
	}

	.articleCriteres {
		position: absolute;
		text-align:center;
	}

	.articleCriteres h3 {
		margin-top: 290px;
		font-family: 'Roboto Slab', serif;
	}

	.articleCriteres img {
		top: 5%;
	}

	.aligne {
		text-align: left;
	}

	#boutonTitreSuivant {
		border: none;
		background-color: #FAFDFF;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}

	#boutonAuteurSuivant {
		border: none;
		background-color: #FAFDFF;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}


	#boutonVilleSuivant {
		border: none;
		background-color: #FAFDFF;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}


	#submit {
		position: absolute;
		bottom: 5%;
		width: 90%;
		left: 5%;
		height: 50px;
		font-size: 20px;
		background-color: #d90b37;
		color: white;
		border: 2px solid grey;
	}
	

	header ul {
		height: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0;
	}

	header ul li {
		list-style-type: none;
		display: inline-block;
		margin: 0px;
		padding: 5px;
		text-shadow: 0px 0px 1px grey;
	}

	.check {
		width: 15px;
		height: 15px;
	}

	#ville, #auteur, #titre {
		color: #d90b37;
		transition: color 0.5s;
	}

	#home a {
		color: #d90b37;
		text-decoration: none;
		transition: color 1s;
	}

	#home a:hover {
		color: white;
	}

	#recherchPar {
		color: black;
	}

	#articleCriteresVille {
		width: 80%;
		height: 60%;
		left: 5%;
		top: 17%;
		box-shadow: 0px 0px 10px black;
		transition: opacity 0.5s;
		background-color: #FAFDFF;
	}

	#articleCriteresAuteur {
		width: 80%;
		height: 60%;
		left: 9%;
		top: 20%;
		box-shadow: 0px 0px 10px black;
		transition: opacity 0.5s;
		background-color: #FAFDFF;
	}

	#articleCriteresTitre {
		width: 80%;
		height: 60%;
		left: 13%;
		top: 23%;
		box-shadow: 0px 0px 10px black;
		transition: opacity 0.5s;
		background-color: #FAFDFF;
	
	}

	.xxl {
		position: absolute;
		width: 40%;
		left: 30%;
		top: 80%;
		z-index: 0;
	}

	.recupAjax {
		position: relative;
		background-color: white;
		width: 80%;
		height: 230px;
		margin-left: 10%;
		visibility: hidden;
		overflow: scroll;
		z-index: 10;
	}

	#unCritereMin {
		position: absolute;
		width: 40%;
		left: 30%;
		top: 30%;
		font-size: 30px;
		text-align: center;
		text-shadow: 0px 0px 1px #E66125;
		transition: opacity 2s;
		opacity: 0;
	}


@media screen and (max-width: 414px) { 			/* largeur mobile */
  
	#parVille, #parAuteur, #parTitre {
		width: 80%;
		margin-left: 10%;
	}

	#unCritereMin {
		font-size: 20px;
	}
}

@media screen and (min-width: 414px) {			/* largeur tablette */

	.xxl {
		top: 30%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 60%;
		margin-left: 20%;
	}

	.recupAjax {
		width: 60%;
		margin-left: 20%;
	}

}

@media screen and (min-width: 768px) {			/* largeur écran ordi portable */

	.xxl {
		top: 20%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 50%;
		margin-left: 25%;
	}

	.recupAjax {
		width: 50%;
		margin-left: 25%;
	}
}

@media screen and (min-width: 1000px) {			/* largeur écran plus large */

	header {
		font-size: 23px;
	}

	#boutonAuteurSuivant {
		display: none;
	}

	#boutonVilleSuivant {
		display: none;
	}

	#boutonTitreSuivant {
		display: none;
	}

	#articleCriteresVille {
		width: 30%;
		height: 60%;
		left: 3%;
		top: 21%;
	}

	#articleCriteresAuteur {
		width: 30%;
		height: 60%;
		left: 35%;
		top: 21%;
	}

	#articleCriteresTitre {
		width: 30%;
		height: 60%;
		left: 67%;
		top: 21%;
	
	}

	.xxl {
		top: 30%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 70%;
		margin-left: 15%;
	}

	.recupAjax {
		width: 70%;
		margin-left: 15%;
	}

	#submit {
		width: 50%;
		left: 25%;
	}

	#unCritereMin {
		background-color: #1A1A1A;
		border: 2px solid #1A1A1A;
		padding: 20px;
		color: white;
		opacity: 0;
		transition: opacity 1s;
	}
}