	body {
		background-color: #dddddd;
		margin: 0px;
		padding: 0px;
		box-shadow: 0px 0px 10px black;
	}

	header {
		background-color: #1A1A1A;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.articleCriteres {
		position: absolute;
		text-align:center;
	}

	.aligne {
		text-align: left;
	}

	#boutonTitrePrecedent {
		border: none;
		background-color: #E66125;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}

	#boutonAuteurSuivant {
		border: none;
		background-color: #E66125;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}

	#boutonAuteurPrecedent {
		border: none;
		background-color: #E66125;
		position: absolute;
		bottom: 3%;
		right: 15%;
	}

	#boutonVilleSuivant {
		border: none;
		background-color: #E66125;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}

	header ul {
		height: 40px;
	}

	header ul li {
		list-style-type: none;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		width: 15%;
	}

	#ville {
		margin-left: 3%;
	}

	#auteur {
		margin-left: 2%;
	}

	#titre {
		margin-left: 2%;
	}

	#liSearch {
		margin-left: 25%;
	}

	#articleCriteresVille {
		width: 80%;
		height: 70%;
		background-color: #E66125;
		left: 5%;
		top: 18%;
		box-shadow: 0px 0px 10px black;
	}

	#articleCriteresAuteur {
		width: 80%;
		height: 70%;
		background-color: #E66125;
		left: 9%;
		top: 23%;
		box-shadow: 0px 0px 10px black;
	}

	#articleCriteresTitre {
		width: 80%;
		height: 70%;
		background-color: #E66125;
		left: 13%;
		top: 26%;
		box-shadow: 0px 0px 10px black;
	
	}

	.xxl {
		position: absolute;
		width: 40%;
		left: 30%;
		top: 50%;
		z-index: 0;
	}

	.recupAjax {
		position: relative;
		background-color: white;
		width: 80%;
		height: 230px;
		margin-left: 10%;
		visibility: hidden;
		overflow: scroll;
		z-index: 10;
	}


@media screen and (max-width: 414px) { 			/* largeur mobile */
  
	#parVille, #parAuteur, #parTitre {
		width: 80%;
		margin-left: 10%;
	}
}

@media screen and (min-width: 414px) {			/* largeur tablette */

	.xxl {
		top: 30%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 60%;
		margin-left: 20%;
	}

	.recupAjax {
		width: 60%;
		margin-left: 20%;
	}

}

@media screen and (min-width: 768px) {			/* largeur écran ordi portable */

	.xxl {
		top: 20%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 50%;
		margin-left: 25%;
	}

	.recupAjax {
		width: 50%;
		margin-left: 25%;
	}
}

@media screen and (min-width: 1000px) {			/* largeur écran plus large */

	#boutonTitrePrecedent {
		display: none;
	}

	#boutonAuteurSuivant {
		display: none;
	}

	#boutonAuteurPrecedent {
		display: none;
	}

	#boutonVilleSuivant {
		display: none;
	}

	#articleCriteresVille {
		width: 30%;
		height: 70%;
		left: 3%;
		top: 18%;
	}

	#articleCriteresAuteur {
		width: 30%;
		height: 70%;
		left: 35%;
		top: 18%;
	}

	#articleCriteresTitre {
		width: 30%;
		height: 70%;
		left: 67%;
		top: 18%;
	
	}

	.xxl {
		top: 30%;
	}

	#parVille, #parAuteur, #parTitre {
		width: 70%;
		margin-left: 15%;
	}

	.recupAjax {
		width: 70%;
		margin-left: 15%;
	}
}